.item {
    height: 100%;
    cursor: grab;
}

.dropzone {
    height: 90px;
    //margin-bottom: 7px;
}

.draggable-dropzone--occupied {
    //background: #a3cbf0;
}

.order-labels {
    height: 90px;
}

/*.drag-identificacion {
    padding: 12px;
}*/

.draggable-mirror { z-index: 99; }
