* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffffff;
}

#colum_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #183263;
    box-shadow: 0px 3px 5px rgb(15, 15, 15, 0.5);
    border-radius: 20px;
    margin: 30px 30px 20px;
    color: #e6eff4;
}
.icons svg {
    height: 30px;
    width: 40px;
    margin-top: 5%;
    color: #e6eff4;
}

.text-center {
    margin-top: 3%;
}

#h2 {
    margin-top: 3%;
}

#Politicas {
    margin-top: 3%;
}

#Conteiner_2 {
    display: grid;
    flex-direction: column;
    margin-top: 30px;
    font-size: 20px;
    height: 100%;
    max-width: 1000px;
    min-width: 350px;
}

#Nombre {
    background-color: #e6eff4;
    border: none;
    width: 100%;
    border-radius: 10px;
}
#Apellidos {
    background-color: #e6eff4;
    border: none;
    width: 100%;
    border-radius: 10px;
    line-height: 20px;
}

#provincia {
    background-color: #e6eff4;
    border: none;
    width: 100%;
    border-radius: 10px;
}
#pais {
    background-color: #e6eff4;
    border: none;
    width: 100%;
    border-radius: 10px;
}
#Email {
    background-color: #e6eff4;
    border: none;
    width: 100%;
    border-radius: 10px;
}
#Telefono {
    background-color: #e6eff4;
    border: none;
    width: 100%;
    border-radius: 10px;
}
#dropdown,
#dropdown1 {
    background-color: #e6eff4;
    border: none;
    width: 100%;
    border-radius: 10px;
}
#comments {
    background-color: #e6eff4;
    border: none;
    width: 100%;
    border-radius: 10px;
}
#button {
    background-color: #183263;
    box-shadow: 0px 3px 5px rgb(15, 15, 15, 0.5);
    border: none;
    width: 100%;
    align-items: center;
    margin-bottom: -20px;
    border-radius: 5px;
}
#Registro {
    color: #183263;
    width: 100%;
}

#Comentarios {
    margin: 0%;
    margin-top: auto;
}

.was-validated {
    display: block;
    color: #183263;
}
